.timesig input {
    width: 40px;
}
.controls p {
    display:flex;
}
#beatNum {
    display:block;
    position: relative;
    font-weight: bold;
    text-align: right;
    width: 165px;
}
.main {
    width: 220px;
    border-style: double;
    border-radius: 10px;
    padding-inline: 30px;
    padding-block: 20px;
}
.main p {
    margin-block: 10px;
}