.timesig input {
    width: 40px;
}
.controls p {
    display:flex;
}
#beatNum {
    display:block;
    position: relative;
    font-weight: bold;
    text-align: right;
    width: 160px;
}
main {
    width: 216px;
    border-style: double;
    border-radius: 10px;
    padding: 30px;
}
.main p {
    margin-block:0;
}
.bpm {
    margin-block: 10px;
}
.bpm input {
    width: 165px;
}
.timesig {
    margin-bottom: 10px;
}
.volumeControl input {
    width: 110px;
}